/*-----헤더-----*/
.header_top {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sub_gnb {
  position: absolute;
  right: 120px;
}

.sub_gnb ul li {
  float: left;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 15px;
}
.sub_gnb ul li img {
  width: 16px;
}

.sub_gnb ul li:last-child {
  margin-right: 0;
}

.sub_gnb ul li:hover {
  color: var(--orange);
  transition: all 0.2s ease-in-out;
}

.header_bottom {
  position: relative;
  height: 70px;
  margin: 0 120px;
}
.main_logo {
  position: relative;
  width: 240px;
  height: 100%;
}
.main_logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main_gnb {
  position: absolute;
  right: 0;
  top: 0;
}

.main_gnb ul li {
  float: left;
  font-size: 15px;
  font-weight: 700;
  line-height: 70px;
  margin: 0 30px;
}

.main_gnb ul li a:hover {
  border-bottom: 2px solid var(--orange);
}

.main_gnb ul li:last-child {
  margin-right: 0;
}

/*-----슬라이드-----*/

.main_slide {
  position: relative;
  overflow: hidden;
}

a.control_prev,
a.control_next {
  position: absolute;
  z-index: 10;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

a.control_prev {
  left: 60px;
}
a.control_next {
  right: 60px;
}
a.control_prev i,
a.control_next i {
  font-size: 30px;
  color: #fff;
}
.slide_container {
  position: relative;
  animation: slide 13s infinite;
}
.slide_container > div {
  position: relative;
  display: block;
  float: left;
  width: 100vw;
  height: 500px;
}

.slide01 {
  background: url(../images/main_slide01.png) no-repeat center center;
}

.slide02 {
  background: url(../images/main_slide02.png) no-repeat center center;
}

.slide03 {
  background: url(../images/main_slide03.png) no-repeat center center;
}

.slide04 {
  background: url(../images/main_slide04.png) no-repeat center center;
}

@keyframes slide {
  0% {
    margin-left: 0;
  } /* 0 ~ 10  : 정지 */
  10% {
    margin-left: 0;
  } /* 10 ~ 25 : 변이 */
  25% {
    margin-left: -100%;
  } /* 25 ~ 35 : 정지 */
  35% {
    margin-left: -100%;
  } /* 35 ~ 50 : 변이 */
  50% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  85% {
    margin-left: -300%;
  }
  100% {
    margin-left: 0;
  }
}

.slide_container .text_box {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 60px;
  left: 120px;
  color: #fff;
}

.slide_container .text_box .sub_title {
  height: 60px;
}

.slide_container .sub_title h3 {
  font-size: 24px;
  font-weight: 300;
}
.slide_container .text_box .title {
  height: 100px;
}
.slide_container .text_box .title h1 {
  font-size: 60px;
  font-weight: 700;
}

.slide_container .text_box .desc {
  height: 80px;
}
.slide_container .text_box .desc span {
  line-height: 2;
}
.slide_container .text_box .slide_btn {
  margin-top: 30px;
  width: 150px;
  height: 40px;
  border: 1px solid #fff;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}
.slide_container .text_box .slide_btn:hover {
  color: #1e2088;
  border: 1px solid #1e2088;
  transition: all 0.2s linear;
}

.slide01 .text_box .title h1 {
  color: #1e2088;
}

.slide02 .text_box .sub_title h3 {
  color: #f05338;
}

.slide03 .text_box .sub_title h3 {
  color: #165554;
}
.slide04 .text_box .sub_title h3 {
  color: #a0deaf;
}

/*-----컨텐츠-----*/
.main_layout {
  width: 1130px;
  margin: 0 auto;
  padding: 120px 0;
}

.con_title,
.con_decs {
  text-align: center;
}
.con_title h3 {
  font-size: 25px;
  font-weight: 900;
  color: var(--greyTitle);
}

.con_decs p {
  margin: 30px 0 90px 0;
  color: var(--greyDesc);
}

.main_content01 .con_container {
  width: 100%;
  height: 520px;
}

.main_content01 .con_container > div {
  position: relative;
  float: left;
  width: 350px;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  margin-right: 40px;
  background-color: var(--greyBg);
  transition: all 0.2s ease-in-out;
}

.main_content01 .con_container > div:last-child {
  margin-right: 0;
}

.main_content01 .con_container > div:hover {
  transform: scale(1.1);
}

.main_content01 .logo_box {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.main_content01 .logo_box img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 1px solid #000;
}

.main_content01 .text_box {
  width: 100%;
  height: 320px;
  margin-top: 30px;
}
.main_content01 .text_box > div {
  width: 100%;
  height: 70px;
}

.main_content01 .text_box .title {
  font-size: 28px;
  font-weight: 900;
}

.main_content01 .text_box .desc {
  width: 100%;
  height: 60px;
  color: var(--greyTitle);
  font-size: 15px;
  font-weight: 700;
}

.main_content01 .text_box .desc p {
  width: 100%;
  height: 100%;
  color: var(--greyDesc);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main_content01 .text_box .sub_desc p {
  font-size: 32px;
  font-weight: 900;
  line-height: 3;
  color: var(--orange);
}

.main_content01 .text_box .price {
  line-height: 2;
}
.main_content01 .text_box .price p {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
  color: var(--greyDesc);
}

.main_content01 .text_box .price span {
  font-size: 30px;
  font-weight: 900;
  color: var(--greyTitle);
}

.main_content01 .text_box .more_btn {
  font-size: 13px;
}

.main_content02 {
  background-color: var(--greyBg);
}
.main_content02 .con_container {
  width: 100%;
  height: 825px;
}

.main_content02 .con_container > div {
  float: left;
  width: 350px;
  height: 520px;
  box-sizing: border-box;
  margin-right: 40px;
  background-color: #fff;
  border: 1px solid lightgray;
  transition: all 0.2s ease-in-out;
}

.main_content02 .con_container > div:nth-child(3) {
  margin-right: 0;
}

.main_content02 .con_container > div:last-child {
  position: relative;
  width: 100%;
  height: 240px;
  margin-top: 65px;
}

.main_content02 .con_container > div:hover {
  background-color: blanchedalmond;
}

.main_content02 .logo_box {
  width: 100%;
}

.main_content02 .logo_box img {
  width: 80%;
}
.main_content02 .con_container > div:last-child .logo_box {
  position: absolute;
  width: 30%;
  height: 100%;
}

.main_content02 .con_container > div:last-child .logo_box img {
  height: 80%;
  object-fit: cover;
}

.main_content02 .text_box {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 15px 37px;
}

.main_content02 .text_box h3 {
  font-size: 24px;
  font-weight: 900;
  color: var(--greyTitle);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main_content02 .text_box .item_desc {
  height: 40px;
  margin-top: 35px;
}
.main_content02 .text_box .item_desc p {
  font-size: 14px;
  font-weight: 700;
  color: var(--greyDesc);
}

.main_content02 .text_box .price {
  margin-top: 50px;
}
.main_content02 .text_box .price p {
  font-size: 25px;
  font-weight: 900;
}
.main_content02 .text_box .price span {
  font-size: 14px;
  margin-left: 5px;
  color: var(--greyDesc);
}

.main_content02 .con_container > div:last-child .text_box {
  position: absolute;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 40px;

  right: 0;
}
.main_content02 .con_container > div:last-child .text_box .desc {
  height: 80px;
  margin-top: 20px;
}
.main_content02 .con_container > div:last-child .text_box .price {
  margin-top: 30px;
}
.main_content03 {
  position: relative;
}

.main_content03 .content_slide {
  position: relative;
}

.main_content03 .prev,
.main_content03 .next {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid lightgrey;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_content03 .prev {
  left: -80px;
}
.main_content03 .next {
  right: -80px;
}

.main_content03 .prev i,
.main_content03 .next i {
  font-size: 30px;
  color: lightgrey;
}
.main_content03 .content_slide-box {
  width: 100%;
  height: 175px;
  overflow: hidden;
}

.main_content03 .content_slide-list {
  width: 2256px;
}

.main_content03 .content_slide-con > div {
  float: left;
  width: 376px;
  height: 175px;
  border-right: 1px solid lightgray;
}

.main_content03 .content_slide-con .logo_box {
  float: left;
  width: 30%;
  height: 100%;
  margin-right: 10px;
}

.main_content03 .content_slide-con .logo_box img {
  width: 70%;
}
.main_content03 .content_slide-con .text_box {
  float: left;
  width: 60%;
  height: 100%;
}

.main_content03 .content_slide-con .text_box .title {
  height: 30px;
}
.main_content03 .content_slide-con .text_box .title h3 {
  font-weight: 900;
  font-size: 19px;
  color: var(--greyTitle);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main_content03 .content_slide-con .text_box .desc {
  height: 60px;
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main_content03 .content_slide-con .text_box .desc p {
  font-size: 14px;
  color: var(--greyDesc);
}

.main_content03 .content_slide-con .text_box .more_btn {
  width: 130px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--greyDesc);
}

.main_content03 .content_slide-con .text_box .more_btn a {
  font-size: 13px;
}

.main_content03 .content_slide-con .text_box .more_btn:hover {
  color: #fff;
  background-color: var(--orange);
  border: none;
}

.main_notice {
  position: relative;
  background-color: var(--greyBg);
}

.main_notice .main_layout {
  width: 1200px;
  margin: 0 auto;
}

.notice_container {
  position: relative;
  margin-top: 50px;
  color: #494949;
}

.notice_more-btn {
  position: absolute;
  width: 50px;
  height: 60px;
  top: -60px;
  right: 20px;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
}

.notice_list {
  border-top: 2px solid #a5a5a5;
}

.notice_list li {
  position: relative;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #a5a5a5;
}
.notice_all {
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.notice_all:hover {
  color: var(--orange);
}

.notice_all > div {
  position: absolute;
}

.notice_left {
  left: 20px;
}

.notice_right {
  right: 20px;
}

.notice_text {
  font-weight: 900;
}

.notice_date {
  font-weight: 700;
}

.footer {
  font-size: 12px;
  color: #fff;
  background-color: #4d4d4d;
}
.footer .main_layout {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.footer_list > li {
  padding: 30px 0;
  border-bottom: 1px solid #999;
}

.footer_list li:last-child {
  border-bottom: none;
}

.footer_mid {
  position: relative;
}
.footer_mid > div {
  position: absolute;
}

.footer_mid-left {
  left: 0;
  font-weight: 700;
}

.footer_mid-right {
  right: 0;
}

.footer_mid-right ul li {
  margin: 0 30px;
}

.footer_mid-right select {
  color: #fff;
  background: none;
  border: none;
}

.footer_mid > div > ul > li {
  float: left;
  margin-right: 30px;
}

.footer_mid > div > ul > li:last-child {
  margin-right: 0;
}

.footer_bottom {
  position: relative;
}
.footer_bottom > div {
  clear: both;
  padding: 10px 0;
}

.footer_bottom > div > ul > li {
  float: left;
  border-right: 1px solid #fff;
  padding: 0 10px;
}

.footer_bottom > div > ul > li:first-child {
  padding-left: 0;
}
.footer_bottom > div > ul > li:last-child {
  border: none;
  padding-right: 0;
}
